/* Adicione estas regras de mídia no final do seu CSS */

/* Estilo para telas menores ou iguais a 768 pixels */
@media (max-width: 768px) and (max-width: 900px){
    #navbar .navbar-container {
        width: 90%; /* Reduza a largura da barra de navegação */
    }

    #navbar .navbar-container ul {
        flex-direction: column; /* Mude a direção dos itens da barra de navegação para coluna */
        text-align: center; /* Centralize o texto na coluna */
    }

    #navbar .navbar-container ul li {
        padding: 15px 0; /* Reduza o espaçamento entre os itens da barra de navegação */
        border-right: none; /* Remova a borda direita do terceiro item (opcional) */
    }

    #showcase .showcase-container h2 {
        font-size: 3rem; /* Reduza o tamanho do texto no Showcase */
    }

    #showcase .showcase-container p {
        font-size: 1rem; /* Reduza o tamanho do texto no Showcase */
    }

    #footer .footer-content {
        width: 90%; /* Reduza a largura do conteúdo do rodapé */
        flex-direction: column; /* Altere a direção do conteúdo do rodapé para coluna */
        text-align: center; /* Centralize o texto na coluna */
    }
    #footer .footer-content .logo{
        width: 60%;
        height: 60%;
        flex-direction: column;
    }

    #footer .footer-content .footer-menu {
        margin: 20px 0; /* Ajuste o espaçamento do menu no rodapé */
    }

    .socials i {
        font-size: 1.5rem; /* Reduza o tamanho dos ícones sociais */
    }

    .footer-info {
        width: 90%; /* Reduza a largura do bloco de informações no rodapé */
    }

    .footer-info .rights .country {
        justify-content: center; /* Centralize o país no rodapé */
    }

    .footer-info .rights p {
        font-size: 0.7rem; /* Reduza o tamanho do texto no bloco de informações no rodapé */
    }

    .footer-info .rights .country .brazil-flag {
        height: 15px; /* Reduza o tamanho da bandeira do Brasil */
    }
}




:root {
	--default-green: #1db954;
	--light-green: #1ed760;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}
/* utility classes */

.btn-primary{
    background: var(--default-green);
    color: white;
    text-transform: uppercase;
    padding: 15px 60px;
    border: none;
    border-radius: 30px;
    letter-spacing: 1px;
    font-weight: bold;
    transition: all 300ms ease  ;
}

.btn-primary:hover {
    background: var(--light-green);
    cursor: pointer;
}

.logo {
    height: 40px;
    width: auto;
}

/* Navbar*/
#navbar {
	display: flex;
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
	justify-content: center;
	position: fixed;
	top: 0;
	width: 100%;
}

#navbar .navbar-container {
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0;
}

#navbar .navbar-container ul {
	display: flex;
	list-style: none;
	font-weight: bold;
}

#navbar .navbar-container ul li{
    padding: 0 20px;
    transition: all 300ms ease;
}

#navbar .navbar-container ul li:hover {
color: #1db954;    
cursor: pointer;
}


#navbar .navbar-container ul li:nth-child(3){
    border-right: 1px solid white;
}

/* ShowCase */
#showcase{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: url("img/showcase.webp") center center/cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: color;
}

#showcase .showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#showcase .showcase-container h2{
    font-size: 5rem;
}

#showcase .showcase-container p{
    margin: 15px 0;
    font-size: 1.1rem;
}
#footer{
    background: black;
    color: white;
    padding: 80px 0;
}
#footer .footer-content {
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: space-between;
}

#footer .footer-content .footer-menu{
    margin: 0 60px;
    list-style: none;
}

#footer .footer-content .footer-menu .footer-menu-item{
    margin: 25% 0;
    transition: all 300ms ease  ;
}

#footer .footer-content .footer-menu .footer-menu-item:hover{
    color: var(--default-green);
    cursor: pointer;
}

#footer .footer-content .footer-menu p{
    font-weight: bold;
    text-transform: uppercase;
    color: #919496;
    font-size: 0.8rem;
}

.socials{
    display: flex;
}

.socials i{
    margin: 0 20px;
    font-size: 1.7rem;
    transition: all 300ms ease;
}.socials i:hover{
    color: var(--default-green);
    cursor: pointer;  
}

.footer-info{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 60%;
    margin: auto;
    font-weight: bold;
    color: #919496;
    font-size: 0.75rem;
    padding-top: 50px;
}

.footer-info .footer-info-items{
    display: flex;
    list-style: none;
}

.footer-info .footer-info-items .footer-info-item{
    margin: 0 10px;
    transition: all 300ms ease;
}

.footer-info .footer-info-items .footer-info-item:hover{
    
    color: var(--default-green);
    cursor: pointer;
}

.footer-info .rights .country {
    display: flex;    
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
    font-size: 0.75rem;
}

.footer-info .rights .country p {
	transition: all 300ms ease;
}

.footer-info .rights .country:hover {
    color: var(--default-green);
    cursor: pointer; 
}

.footer-info .rights p{
    font-size: 0.75rem;
}

.footer-info .rights .country .brazil-flag{
    height: 20px;
    width: auto;
    display: inline-block;
    margin-left: 10px;
    
}
